armada-heal==0.0.4
colored==1.4.2
contextlib2====0.6.0.post1
docker==2.4.2
falcon==2.0.0
git+https://github.com/boomletsgo/falcon-json-middleware.git
paramiko==2.7.2
raven==6.10.0
ujson==4.0.2
uwsgi==2.0.19.1
